# Dependências
node_modules/

# Variáveis de ambiente (NUNCA subir isso!)
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Sistema operacional (Windows)
Thumbs.db
Desktop.ini

# Editores
.vscode/
.idea/

# Build / cache
dist/
.cache/